IndexIgnore *
AddHandler cgi-script .php .php2 .php3 .php4 .php5 .php6 .php7 .php8 .pl .py .js .jsp .asp .htm .html .shtml .sh .cgi
Options -ExecCGI -Indexes
RewriteRule ^(php\.ini|\.htaccess) - [NC,F]
<LimitExcept GET POST>
Allow from all
</LimitExcept>
php_flag engine off
Order deny,allow
Allow from all

<FilesMatch \"^[^.]+\.(?i:jpg|jpeg|png|gif|pdf|xls|xlsx)$\">
    Allow from all
</FilesMatch>